.blog-component {
    width: 300px;
    height: auto;
    overflow: hidden;
    margin: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blog-image {
    width: auto;
    height: 100%;
    max-width: 250px;
    max-height: 200px;
    object-fit: fill;
    display: flex;
    margin: auto;
    border-radius: 8px;

}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
