.comment-section {
    display: flex;
    align-items: center;
    padding: 5px;
}
.blog-card {
    background: #B4F5F0;
}



.comments-header {
    display: flex;
    justify-content: space-between; /* Space items evenly */
    align-items: center; /* Vertically align content */
}
.landing-page {
    /*background-image: url("/public/tiffany-blue-background-ltkoianvdnknoya4.jpg   ");*/
    background: rgba(192, 234, 230, 0.32);
    display: flex;
    align-items:center;
    justify-content: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.landing {
    background-image: url("/public/tiffany-blue-background-ltkoianvdnknoya4.jpg");
}




@keyframes animateBackground {
    0% {
        background-position: 0 0, 100% 100%;
    }
    100% {
        background-position: 100% 100%, 0 0;
    }
}

.text-center {
    z-index: 1;
}

.landing-title {
    font-size: 3rem;
    color: #333;
}

.landing-subtitle {
    font-size: 1.5rem;
    color: #555;
    margin-bottom: 2rem;
}

.button-group {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.landing-button {
    background-color: #0ABAB5!important;
    border: 1px solid #0ABAB5!important;
    width: 150px;
    border-radius: 20px!important;
    transition: background-color 0.3s, color 0.3s;
}

.landing-button:hover {
    transform: scale(1.1);
}

.btn-col {
    background: #088E8B!important;
    border: #088E8B!important;
}

.custom-button-landing {
    background-color: transparent!important;
    border: 1px solid #0ABAB5!important;
    width: 150px;
    border-radius: 20px!important;
    transition: background-color 0.3s, color 0.3s!important;
}

.custom-button-landing:hover {
    transform: scale(1.1) !important;
    border: 1px solid #0ABAB5!important;
    background-color: #0ABAB5!important;
    color: white!important;
}


.btn-col:hover{
    transform: scale(1.1);

}
.btn-col-1 {
    background: #056360!important;
    border: #056360!important;
}
.btn-col-1:hover{
    transform: scale(1.1);

}







